body {
  background-color: #E3FCBF;
}

hr {
  border-style: none;
  border-top-style: groove;
  height: 1px;
  width: 35%;
  border-color: red;
  border-width: 5px;
}

h1 {
  color: #B33030
}

h3 {
  color: #B33030
}

.Profile {
  border-radius: 100%;
}
