.blog-preview {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    position: relative;
  }
  
  button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
  
  button:hover {
    background-color: #ddd;
  }