.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-item {
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #2b2b61;
    transition: transform 0.3s;
}

.movie-item img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.movie-item:hover {
    transform: scale(1.05);
}